@font-face {
  font-family: NeutralFace;
  src: url("../fonts/NeutralFace.otf"), local('Calibri');
  font-display: swap;
}

@font-face {
  font-family: QuickSand;
  src: url("../fonts/Quicksand_Book.otf"), local('Arial');
  font-display: swap;
}

@font-face {
  font-family: QuickSandBold;
  src: url("../fonts/Quicksand_Book.otf"), local('Arial');
  font-display: swap;
}

@font-face {
  font-family: BadScriptRegular;
  src: url("../fonts/BadScript-Regular.ttf"), local('Arial');
  font-display: swap;
}