@font-face {
  font-family: NeutralFace;
  src: url("../fonts/NeutralFace.otf");
}

@font-face {
  font-family: QuickSand;
  src: url("../fonts/Quicksand_Book.otf");
}

@font-face {
  font-family: QuickSandBold;
  src: url("../fonts/Quicksand_Book.otf");
}

@font-face {
  font-family: BadScriptRegular;
  src: url("../fonts/BadScript-Regular.ttf");
}