body {
  color: var(--black);
  height: fit-content;
  max-width: 100vw;
  overflow-x: hidden;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--white);
  padding: var(--default-gutter);
  border-bottom: 1px solid var(--grey-blue);
  box-shadow: var(--box-shadow);
  font-family: 'NeutralFace';
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: var(--sm-gutter);
}

.header .title {
  font-size: var(--lg-text);
  color: var(--dark-blue);
}

.header .crp {
  font-size: var(--sm-text);
  color: var(--dark-grey);
}

.main {
  background: var(--white);
}

.container {
  max-width: var(--container);
  margin: 0 auto;
}

.bio {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  column-gap: var(--default-gutter);
  padding: var(--default-gutter);
}

.avatar {
  aspect-ratio: 1;
  height: 120px;
  width: 120px;
  flex: 1;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.section-title {
  display: flex;
  align-items: center;
  column-gap: var(--xs-gutter);
  font-size: var(--lg-text);
  color: var(--dark-blue);
  padding-bottom: 4px;
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: var(--xs-gutter);
  font-family: 'QuickSandBold';
  font-weight: 700;
}

.section-paragraph {
  line-height: 1.6;
  font-size: var(--section-paragraph);
  font-family: 'QuickSand';
  margin-bottom: 16px;
}

.section-paragraph:last-of-type {
  margin: 0;
}

.section-paragraph strong {
  font-weight: 700;
}

.section-title-icon {
  width: var(--lg-text);
  aspect-ratio: 1;
}

.banner {
  width: 100%;
  height: 100%;
  background: url('../assets/images/banner.webp') no-repeat center, var(--grey-blue);
  background-size: cover;
  -webkit-background-size: cover !important;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100vw;
  position: relative;
  height: 240px;
  min-height: 240px;
}

.overline-container {
  position: relative;
}

.banner-overline {
  z-index: 2;
  position: absolute;
  left: var(--sm-gutter);
  top: var(--md-gutter);
  color: var(--white);
  font-size: var(--md-text);
  text-shadow: var(--text-shadow);
  font-family: 'BadScriptRegular';
}

.button {
  font-family: 'QuickSandBold';
  font-weight: 1000;
  text-align: center;
  text-decoration: none;
  text-shadow: var(--text-shadow);
  color: var(--white);
  background: var(--medium-blue);
  box-shadow: var(--box-shadow-lg);
}

.banner-cta {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: var(--xl-gutter);
  padding: var(--sm-gutter);
  font-size: var(--lg-text);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--xs-gutter);
  width: 100%;
}

.banner-cta:active {
  background-color: var(--dark-blue);
}

.therapy {
  z-index: 1;
  position: relative;
  background: var(--white);
  padding: var(--default-gutter);
  width: calc(100% - var(--default-gutter) * 2);
  margin: -32px auto var(--default-gutter);
  background: var(--light-blue);
  box-shadow: var(--box-shadow);
  color: var(--dark-blue);
  border-radius: var(--border-radius);
}

.psycotherapy {
  padding: var(--default-gutter);
}

.service {
  padding: var(--default-gutter);
  margin-bottom: var(--default-gutter);
}

.service-card-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--default-gutter);
}

.service-card {
  background: var(--light-blue);
  box-shadow: var(--box-shadow);
  padding: var(--default-gutter);
  color: var(--dark-blue);
  border-radius: var(--border-radius);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.service-card-icon {
  display: block;
  text-align: center;
  margin: 0 auto var(--sm-gutter);
  width: var(--lg-text);
  aspect-ratio: 1;
}

.service-card-cta {
  display: flex;
  column-gap: var(--xs-gutter);
  margin: 16px auto 0;
  padding: var(--sm-gutter);
  font-size: var(--md-text);
}

.service-card-cta::after {
  content: '';
  height: var(--md-text);
  width: var(--md-text);
  background-image: url('../assets/icons/download-white.svg');
  background-size: var(--md-text);
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  background: var(--grey-blue);
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: var(--md-gutter);
  margin: -16px auto 0;
  background: var(--dark-blue);
  color: var(--white);
  box-shadow: var(--box-shadow-lg);
  border-radius: var(--border-radius);
  max-width: 100%;
}

.contact-title {
  font-size: var(--lg-text);
  margin-bottom: var(--xs-gutter);
  font-family: 'QuickSandBold';
}

.contact-subtitle {
  display: block;
  margin-bottom: var(--lg-gutter);
  font-family: 'QuickSand';
}

.contact-icon {
  width: var(--md-text);
  height: var(--md-text);
}

.contact-item {
  padding: var(--xs-gutter);
  display: flex;
  column-gap: var(--xs-gutter);
  align-items: center;
  text-decoration: none;
  color: var(--white);
  transition: 0.4s;
  font-family: 'QuickSand';
  height: 48px;
}

.contact-item:hover {
  transform: scale(1.05);
}

.copyright {
  width: 100%;
  text-align: center;
  color: var(--dark-blue);
  height: fit-content;
  margin-top: auto;
  font-family: 'QuickSand';
  padding: var(--lg-gutter) 0 var(--sm-gutter);
  font-size: var(--sm-text);
}

.copyright a {
  color: var(--dark-blue);
}

@media (min-width: 768px) {
  .header .title {
    font-size: var(--xl-text);
  }

  .header .crp {
    font-size: var(--md-text);
  }

  .avatar {
    height: 160px;
    width: 160px;
  }

  .section-title {
    padding-bottom: 8px;
    margin-bottom: var(--sm-gutter);
    column-gap: var(--sm-gutter);
  }

  .banner {
    height: 480px;
  }

  .banner-overline {
    left: var(--md-gutter);
    top: var(--lg-gutter);
    font-size: var(--lg-text);
  }

  .banner-cta {
    padding: var(--md-gutter);
    font-size: var(--xl-text);
    width: max-content;
  }

  .therapy {
    max-width: 70vw;
  }

  .psycotherapy,
  .service {
    padding-top: calc(var(--default-gutter) / 2);
  }

  .service {
    padding-bottom: var(--lg-gutter);
    margin-bottom: var(--lg-gutter);
  }

  .service-card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: var(--default-gutter);
  }

  .service-card {
    flex: 1;
    min-width: calc(100% / 2 - var(--default-gutter) / 2);
  }

  .service-card-icon {
    width: var(--xl-text);
  }

  .footer {
    height: 320px;
  }

  .contact {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    max-width: 60vw;
    width: calc(100% - var(--default-gutter) * 2);
    margin: -32px auto 0;
  }

  .contact-title {
    font-size: var(--xl-text);
    margin-bottom: var(--sm-gutter);
  }
}

@media (min-width: 1024px) {
  .avatar {
    height: 200px;
    width: 200px;
  }

  .section-title {
    margin-bottom: var(--md-gutter);
  }

  .banner {
    background-attachment: fixed;
  }

  .banner-overline {
    left: var(--lg-gutter);
    top: var(--xl-gutter);
  }

  .button {
    box-shadow: 0 0 0 .05em inset var(--white); 
    --gradient: linear-gradient(var(--dark-blue) 0 0) no-repeat;
    background: 
      var(--gradient) calc(var(--progress,0%) - 100%) 0%,
      var(--gradient) calc(200% - var(--progress,0%)) 0%,
      var(--gradient) calc(var(--progress,0%) - 100%) 100%,
      var(--gradient) calc(200% - var(--progress,0%)) 100%;
    background-size: 50.5% calc(var(--progress,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }

  .banner-cta:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: var(--box-shadow-lg);
  }

  .button:hover {
    --progress: 100%;
    box-shadow: 0 0 0 .1em inset var(--dark-blue); 
    transition: background-position .4s, background-size 0s;
  }

  .button:active {
    box-shadow: 0 0 9e9q inset var(--black); 
    background-color: var(--dark-blue);
    color: var(--white);
  }

  .button-dark {
    text-shadow: none;
    color: var(--dark-blue);
    box-shadow: 0 0 0 .10em inset var(--dark-blue); 
    --gradient: linear-gradient(var(--dark-blue) 0 0) no-repeat;
  }

  .button-dark:hover {
    color: var(--white);
    box-shadow: 0 0 0 .1em inset var(--dark-blue); 
  }

  .service-card-cta::after {
    background-image: url('../assets/icons/download.svg');
  }

  .service-card-cta:hover::after {
    background-image: url('../assets/icons/download-white.svg');
  }

  .button-dark:active {
    box-shadow: 0 0 9e9q inset var(--black); 
    background-color: var(--dark-blue);
    color: var(--white);
  }

  .service-card {
    width: calc(100% / 3 - var(--default-gutter) / 2);
    min-width: auto;
  }

  .service-card-cta {
    margin-top: auto;
  }

  .contact {
    max-width: 40vw;
  }
}


@media (min-width: 1288px) {
  .therapy {
    width: 60vw;
    max-width: var(--lg-container);
  }
}