.faq {
  padding: 0;

  h2 {
    text-align: center;
  }

  .list-item {
    &:hover {
      transform: scale(1.025);
    }
  }

  .list-item-header {
    background: var(--light-grey);
  }  

  .list-item-title {
    color: var(--dark-blue);
    line-height: 1.5;
  }

  .list-item-description {
    background: var(--white);
    color: var(--dark-blue);
  }  
}

@media (min-width: 768px) {
  .faq {
    h2 {
      text-align: left;
    }
  }
}

@media (min-width: 1024px) {
  .faq {
    .list-item {
      width: calc((100% / 2) - (16px / 2));
    }
  }
}
