.instagram-embed {
  padding: var(--xl-gutter) 0;

  img {
    display: block;
    margin: var(--default-gutter) auto;
    width: 32px;
  }

  iframe {
    margin: 0 !important;
  }

  @media (min-width: 1024px) {
    img {
      width: 48px;
    }
  }
}
