.psycotherapy {
  margin: var(--default-gutter) auto;
  padding: var(--xl-gutter) var(--default-gutter);
  background: var(--medium-blue);
  width: fit-content;
  text-align: center;
  color: var(--white);

  h2 {
    color: var(--white);
  }

  @media (min-width: 768px) {
    text-align: left;
  }  

  @media (min-width: 1225px) {
    border-radius: var(--border-radius-xl);
  }  
}

.psycotherapy-light {
  margin-top: 0;
  background: var(--white);
  color: var(--dark-blue);

  h2 {
    color: var(--dark-blue);
  }
}
